*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: wheat;
}
.navbar{
    background: black;
    width: 100%;
    overflow: auto;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    float: left;
}
.navbar a{
    width: 263px;
    display: block;
    text-decoration: none;
    text-align: center;
    background: white;
    font: 17px;
    color: black;
    padding: 20px 6px;
    font-family: arial"Lora", serif;
}
.navbar a:hover{
    background: white;
    color: #64a19d;
}
.container{
    max-width: 1200px;
    margin: auto;
    background: black;
    overflow: auto;
}
.gallery{
    margin: 5px;
    border: 1px solid white;
    float: left;
    width: 390px;
}
.gallery img{
    width: 100%;
}
.desc{
    text-align: center;
}